*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #03256C;
    color: white;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #2541B2;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
.left{
    font-size: 1.5rem;
    font-weight: 600;
}

.nav  li{
    margin-right: 20px;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}

.firstsection div{
    width: 40%;
}

.firstsection div{
    font-size: 3rem;
    width: 30%;
    line-height: 5rem;
}

.rightsection{
    margin-right: 200px ;
}

.rightsection img{
    height: 500px;
    width: 600px;
    margin-right: 100px;
}
.leftsection{
    text-align: justify;

}
.name{
    color: #06BEE1;
    font-weight: 700;
}

a{
    color: #fff;
    text-decoration: none;
}